:root{
    --green01: #46B7B9;
    --green02: #C7E9EA;
    --blue03: rgba(0, 131, 176, 0.61);
    --white01: #fff;    
    --black01: #4C5049;
    --black02: rgba(76, 80, 73, 0.7);
    --background: #E5E5E5;
}